.Header{
    background-color: black;

    .JumboSlides{
        color: white;
        .slide-show{
            width: 100%;
            height: 250px;
        }
    }// End of .JumboSlides

    .Navigation{
        .h(250px);
        padding: 1% 2%;
        .flex(column);
        justify-content: space-between;
        .img{
            .middleWithMarg();
            .w(350px);
            img{
                .w(100%);
                .min-w(350px);
            }
        }


        nav{
            .middleWithMarg();
            .h(120px);
            .flex(row);
            justify-content: space-evenly;
            .w(100%);
            .nav-link{
                .line-h(100px);
                color: white;
                text-decoration: none;
                font-size: 1.9rem;
            }
        }//End of nav
    }//End of .Navigation
}// End of .Header

