//Color Schemes

//light theme
@sunrise: #ff9667ff;
@snow: #ffffff;
@wolf: #686868;

//dark theme
@charcoal: #191d1f;
@black: #000000;
@lime: #81ff87;
@lavender: #8f51feff;


.theme-dark {
    //global
    ---primary-text: @snow;
    --root-background: @charcoal;

    //Home.jsx
    --main-nav-links: @lavender;

    //SlimNav.jsx
    --slim-nav-background: @lavender;

    //Banner.jsx
    --banner-border: @snow;
    
    --primary-background: #ffffff;

    --dark-text: #ffffff;
    --light-text: @lavender;  
    --secondary-text: @color4;
    --dark-background: #191d1f;
    --light-background: #586F7C;
    --accent: #B8DBD9;
    --button-border: #B8DBD9;
}

.theme-light{
    //global
    ---primary-text: @black;
    --root-background: @snow;

    //Home.jsx
    --main-nav-links: @sunrise;

    //SlimNav.jsx
    --slim-nav-background: @sunrise;

    //Banner.jsx
    --banner-border: @black;


    --primary-background: #ffffff;

    
    --dark-text: #000000;
    --light-text: #ff9667ff;
    --secondary-text: @color3;
    --dark-background: #ffffff;
    --light-background: #EDDCD2;
    --accent: #DBE7E4;
    --button-border: #5E4B56;
}

:root {
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --theme-btn-background-light: @sunrise;
    --yellow-background: #ffffff;
    --yellow-border: #ffffff;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --theme-btn-background-dark: @lavender ;
    --gray-border: #e8e8ea;
}

@keyframes reverse {
    0% {
        left: 47px;
        width: 40px;
    }
    60% {
        left: 3px;
        width: 80px;
    }
    100% {
        left: 3px;
    }
}
    
@keyframes switch {
    0% {
        left: 3px;
    }
    60% {
        left: 3px;
        width: 80px;
    }
    100% {
        left: 40px;
    }
}

.toggle--checkbox {
    display: none;
}
  
.container--toggle {
    .max-w(195px);
    float: right;
    display: grid;
    place-items: center;
    min-height: 60px;
    position: relative;
    grid-area: toggle;
    margin: 18px;
}

/* background */
.toggle--label {
    .w(65px);
    .h(30px);
    overflow: hidden;
    background: var(--theme-btn-background-dark);
    border-radius: 100px;
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
}

.toggle--checkbox:checked + .toggle--label {
    background: var(--theme-btn-background-light);
    border-color: var(--blue-border);
}

/* sun and moon */
.toggle--checkbox:checked + .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 360ms ease-in;
    background: var(--yellow-background);
    border-color: var(--yellow-border);
}

.toggle--label:before {
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    content: '';
    width: 25px;
    height: 25px;
    border: 3px solid var(--gray-border);
    top: 1px;
    position: absolute;
    border-radius: 40px;
    background: white;
}

/* moon dimples */
.toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: '';
    box-shadow: var(--gray-dots) -14px 0 0 1px, var(--gray-dots) -22px 12px 0 -1px;
    left: 80px;
    top: 10px;
    width: 6px;
    height: 6px;
    background: transparent;
    border-radius: 50%;
    opacity: 1;
}

.toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 50ms;
    opacity: 0;
}

/* clouds */
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
    width: 5px;
    left: 65px;
    top: 22px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    top: -4px;
    left: 0px;
    width: 20px;
    height: 5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    top: 3px;
    width: 20px;
    height: 5px;
    left: 10px;
}

.toggle--label-background:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: -15px;
    border-radius: 5px;
    background: white;
    left: -20px;
    transition: all 150ms ease-in;
}

.toggle--label-background:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    left: -20px;
    top: 10px;
    border-radius: 5px;
    background: white;
    transition: all 150ms ease-in;
}